.grid{
    position: absolute;
    top: 10%;
    left: 30.5%;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.row{
    display: flex;
}

.cell{
    display: inline-block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width:75px;
    height: 75px;
    cursor: pointer;
}

.cell:hover{
    background-color: lightgrey;
}

.alive{
    background-color: lightgreen;
}

.alive:hover{
    background-color: color-mix(in oklab, lightgreen, white);
}

button{
    display: inline;
    margin: 10px;
    padding:10px;
    background-color: lightgreen;
    cursor: pointer;
}

button:active{
    background-color: lightgrey;
}

.controls{
    position: absolute;
    top: 93%;
    left: 45%;
}